

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <div>
      <% @users.each do |user| %>
        <tr>
          <p><%= image_tag user.get_profile_image(70,70) %><%= user.name %></p>
        </tr>
      <% end %>
    </div>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
    <div>
      <% @posts.each do |post| %>
        <tr>
          <p><%= image_tag post.user.get_profile_image(30,30) %><%= post.user.name %></p>
          <p>タイトル : <%= link_to post.title, post_path(post.id) %></p>
          <p>本文：<%= post.body %></p>
            <% post.images.each do |image| %>
              <%= image_tag image, size: "150x150" %>
            <% end %>
        </tr>
      <% end %>
    </div>
  <% end %>
</table>
