<div class="row">
  <div class="col-12">
    <% @posts.each do |post| %>
      <div>
        <td>
          <%= image_tag post.user.get_profile_image(30,30) %><%= post.user.name %>
        </td>
        <p>タイトル : <%= link_to post.title, post_path(post.id) %></p>
        <p>本文：<%= post.body %></p>
        <% post.images.each do |image| %>
          <%= image_tag image, size: "150x150" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>