<div class="row">
  <div class="col-12">
    <% @posts.each do |post| %>
      <div>
        <p><%= image_tag post.user.get_profile_image(30,30) %> ユーザーネーム：<%= post.user.name %></p>
        <p>タイトル：<%= post.title %></p>
        <p>本文：<%= post.body %></p>
    <% end %>
  </div>
</div>

<div class="media">
  <% @posts.each do |post| %>
    <img class="align-self-start mr-3" <%= image_tag post.user.get_profile_image(30,30) %><%= post.user.name %> >
    <div class="media-body">
      <h5 class="mt-0">タイトル：<%= post.title %></h5>
      <p>本文：<%= post.body %></p>
  <% end %>
</div>