<div class="row">
  <div class="col-12">
    <h1>新規投稿</h1>
  </div>
  <div class="col-12">
    <% if @post.errors.full_messages.present? %>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @post do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :images %>
        <%= f.file_field :images, class: "form-control-file", accept: "image/*", multiple: true %>
      </div>
      <%= f.submit "投稿", class: "btn btn-primary mb-2" %>
    <% end %>
  </div>
</div>
