<div>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>本文：<%= @post.body %></p>
  <% @post.images.each do |image| %>
    <%= image_tag image, size: "150x150" %>
  <% end %>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
  <% end %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post),class: "btn btn-sm btn-danger", method: :delete  %>
  <% end %>
</div>