<!DOCTYPE html>
<html>
  <head>
    <title>Soccerfriend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/440a14bfc9.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class= "container">
          <a class= "navbar-brand" href="/">
            <span>Soccerfriends</span>
            <i class="fa-solid fa-futbol"></i>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to posts_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-house"></i>
                  Home
                <% end %>
              </li>
              <li>
                <%= link_to new_post_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-comment"></i>
                  New post
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user), class:"nav-link text-light" do %>
                  <i class="fa-solid fa-user"></i>
                  My page
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                 <i class="fa-solid fa-right-from-bracket"></i>
                  Log out
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% else %>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class= "container">
          <a class= "navbar-brand" href="/">
            <span>Soccerfriends</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to root_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-house"></i>
                  Home
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-user-plus"></i>
                  Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  Log in
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% end %>
    </header>
    <main class="container">
      <div class="mx-auto">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="container-fluid mt-5 bg-dark">
        <div class="row">
          <div class="mx-auto">
            <p></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
